@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Banner STuff */
#banner{
    background-image: url('/static/head.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0%;
    width: 100%;
}

#banner .container{
    padding-top: 20px;
}

#banner .container .row .col p{
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
}

#header-buttons-span button{
    margin: 10px 5px;
    font-family: 'Comfortaa', cursive;
}

#author-pic-container{
    padding-left: 50px;
    padding-top: 50px;
}

#author-pic{
    margin: 30px auto;
    transform: rotate(5deg);
    transition: 0.5s;
    cursor: pointer;
    max-width: 80%;
    max-height: 80%;
}

#author-pic:hover{
    transform: rotate(0deg);
    transition: 0.5s;
}

/* Blog Section */
#blog-section{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
}

.blog-entry{
    background-color: white;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.blog-entry h3{
    color: rgb(91, 1, 175);
}

.blog-entry p{
    font-size: 22px;
}

.read-more{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.read-more::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(56, 5, 175);;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: ease-in 200ms;
    transform-origin: bottom left;
}

.read-more:hover::after{
    transition: ease-in 200ms;
    transform-origin: bottom left;
    transform: scaleX(1);
}

.read-more:hover{
    color: black;
}

#more-blogs-button{
    background-color: rgb(91, 1, 175) !important;
    border: none;
}

#more-blogs-button:focus{
    outline: none !important;
    background-color: rgb(66, 2, 126) !important;
    box-shadow: none !important;
}

/* Contact Me Section */
#contact_me{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    padding-top: 20px;
}

#contact_me_icons img{
    display: inline;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

#contact_me_icons :hover{
    transition: 500ms;
    transform: scale(1.5);
}