@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Banner STuff */
#banner{
    background-image: url('/static/head.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0%;
    width: 100%;
}

#banner .container{
    padding-top: 20px;
}

#banner .container .row .col p{
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
}

#header-buttons-span button{
    margin: 10px 5px;
    font-family: 'Comfortaa', cursive;
}

#author-pic-container{
    padding-left: 50px;
    padding-top: 50px;
}

#author-pic{
    margin: 30px auto;
    transform: rotate(5deg);
    transition: 0.5s;
    cursor: pointer;
    height: 290px;
    width: 290px;
}

#author-pic:hover{
    transform: rotate(0deg);
    transition: 0.5s;
}

/* Sections */
section{
    font-family: 'Ubuntu', sans-serif;
}

/* Contact Me Section */
#contact_me{
    margin-bottom: 20px;
}

#contact_me_icons img{
    display: inline;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

#contact_me_icons :hover{
    transition: 500ms;
    transform: scale(1.5);
}