@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Blog Part */
.blog-card{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
}

#blogs_section{
    padding-top: 30px;
}

.blog_title{
    padding-top: 20px;
    text-align: center;
}

.blog_date{
    text-align: center;
    font-weight: bolder;
    color: rgb(124, 124, 124);
}

.blog_tag{
    padding-top: 10px;
}

.blog_tag .tag-pill{
    margin-right: 5px;
}

.blog_image{
    padding-top: 30px;
    padding-bottom: 30px;
}

.blog_content p{
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
}

.read_more a{
    display: inline-block;
    position: relative;
    padding-left: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.read_more a:hover{
    color: black;
}

.read_more a:after{
    position: absolute;   
    content: '';
    background-color: rgb(56, 5, 175);
    transition: ease-out 200ms;
    transform-origin: bottom left;
    transform: scaleX(0);
    height: 2px;
    width: 80%;
    bottom: 0;
    left: 20px;
}

.read_more a:hover:after{
    transition: ease-in 200ms;
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* Side Bar Card Style */
.card{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.list-group-item:hover{
    background-color: rgb(219, 219, 219);
}

.list-group-item a{
    color: black;
    text-decoration: none;
}

.list-group-item a:hover{
    color: black;
    text-decoration: none;
}

.list-group-item span p{
    text-decoration: none;
    padding: 0;
    color: rgb(124, 124, 124);
    font-weight: bold;
    font-size: 12px;
}

.bg-warning{
    font-size: 10px !important;
    color: black !important;
}

.bg-success{
    font-size: 10px !important;
}


/* Pagination */

.paginator{
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.btn-primary{
    background-color: #151E3D !important;
    border-color: #151E3D !important;
}

.btn-outline-primary{
    border-color: #151E3D !important;
    color: #151E3D !important;
}