{% extends 'base.html' %}
{% load static %}

{% block title %}Project{% endblock title %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'Project/all_projects.css' %}">
{% endblock css_file %}

{% block navbar %}
      {% include 'includes/navbar.html' with page='project' %}
{% endblock navbar %}

{% block content %}
    <section>
        <div class="container">
        
            <div class="row row-cols-lg-2 row-cols-sm-1 g-4">
                {% for project in projects %}
                    <div class="col-auto">
                        <div class="project-entry">
                            <img class="img-fluid" src="{{ project.project_thumbnail.url }}" alt="">
                            <h3>{{ project.project_name }}</h1>
                            <h6>{{ project.project_brief }}</h6>
                            <span>
                                <a class="btn btn-success" href="{% url 'project_detail' project.slug %}">Read More</a>
                                <a class="btn btn-dark" href="{{ project.project_repository }}" target="_blank">Repository</a>
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
{% endblock content %}

