/* footer */
footer .d-flex{
    background-color: #151E3D;
}

.footer-list ul{
    list-style: none;
}

.footer-list ul li{
    font-family: 'Comfortaa', cursive;
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
}

.footer-list ul li a{
    color: white;
    text-decoration: none;
}

.footer-list ul li a:hover{
    color: rgb(141, 140, 140);
}

#footer-row .col{
    padding-top: 20px;
}

#footer-last-column p,
#footer-last-column h3{
    font-family: 'Comfortaa', cursive;
    color: white;
}