{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_file %}{% endblock css_file %}
    <link rel="icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'scroll-animations.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="sticky-top">
        {% block navbar %}{% endblock navbar %}
    </header>

    {% block content %}{% endblock content %}

    {% comment %} Footer-Visible to all pages {% endcomment %}
    <footer class="mt-auto">
        <div class="d-flex position-relative bottom-0">
            <div class="container">
                <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 row-cols-xs-1" id="footer-row">
                    {% comment %} Site column {% endcomment %}
                    <div class="col footer-list">
                        <ul>
                            <li><h3>Site</h3></li>

                            <li><a href="{% url 'home' %}">Home</a></li>

                            <li><a href="{% url 'all_projects' %}">Projects</a></li>

                            <li><a href="{% url 'all_blogs' %}">Blog</a></li>

                            <li><a href="{% url 'about_me' %}">About Me</a></li>

                            <li><a href="{% url 'contact_me' %}">Contact Me</a></li>
                        </ul>
                    </div>
                    {% comment %} Contact Me column {% endcomment %}
                    <div class="col footer-list">
                        <ul>
                            <li><h3>Contact Me</h3></li>

                            <li>Github: <a href="https://github.com/crisbern-g" target="_blank">crisbern-g</a></li>

                            <li>Facebook: <a href="https://www.facebook.com/Crisbern022/" target="_blank">Crisbern Gozun</a></li>

                            <li>Instagram: <a href="https://www.instagram.com/bern_sqrd/" target="_blank">bern_sqrd</a></li>

                            <li>Email: <a href="mailto:crisberngozun022@gmail.com">crisberngozun022@gmail.com</a></li>

                            <li>Phone/Telegram: +63975 845 7339</li>
                        </ul>
                    </div>
                    {% comment %} Column containing my name and a quote {% endcomment %}
                    <div class="col" id="footer-last-column">
                        <ul>
                            <li>
                                <h3>Crisbern T. Gozun</h3>
                                <p>
                                    <br>
                                    A hopeful graduating student of Computer Engineering. Aspiring to have a prosperous career in software development.
                                    <br><br>
                                    © 2021.
                                </p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'observer.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>