{% extends 'base.html' %}
{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'Main/about_me.css' %}">
{% endblock css_file %}

{% block title %}About Me{% endblock title %}

{% block navbar %}
      {% include 'includes/navbar.html' with page='about_me' %}
{% endblock navbar %}

{% block content %}
    <main>
        <div class="container">
            <div class="row row-cols-lg-2">
                <div class="col-auto" id="main">
                    <h1>Who am I?</h1>
                    <p>
                        This question can actually mean many things but I will answer in a way that I understand it and hopefully will satisfy you. My name is Crisbern T. Gozun. As of this writing, I am a graduating student of Bachelor of Science in Computer Engineering at Don Honorio Ventura State University. I chose this degree because I really like to have a career related to computers but frankly, that is too vague. In my almost 4 years in this course, I narrowed it down and decided that I will specifically pursue a career in the field of software. Still vague? I mostly want to dive into web development especially on the backend part. But I will say this, I can work as a full-stack web developer meaning I can be a jack of all trades master of none. Furthermore, with the experiences that I can gather in web development, I want to deep more into cybersecurity. I know it is a long and hard path but that cannot stop me to satisfy my ambitions.
                    </p>

                    <br>

                    <h1>What I know so far</h1>
                    <p>
                        Computer Engineering is such a flexible college course. We do software, we do electronics, we do Mathematics, and more. I think it is fair to say that this course gives you opportunity to try things out and hopefully you can find something that you can be passionate about and that is fortunately what happened to me. I always make it to the point that I can participate in hands-on laboratory exercises. Due to our curriculum, I already tried C++, Java, PHP, HTML, CSS, JavaScript, Python, and Arduino.  I learned the very basic of these tools in university but my curiosity led me to dive deeper into these. I love Python the most among all these and that’s where I mostly spent my time learning but I understand that staying in one language is not always the best way to go nor learning other language while you are not too familiar with the previous one. But I think I am learning enough in my own way.
                    </p>

                    <br>

                    <h1>What can you expect from me?</h1>
                    <p>
                        I will not go out of my way and claim that I am an expert in something because I am not. Nor I will say that I am no good at anything when it comes to programming. The fact of it is that I am still learning. I am the type of person that will not stop unless I fully comprehend a concept. I do not want to give an impression of “overpromise but underdeliver”, I will not promise you heaven and earth if I cannot give it to you but if there is one thing I can promise, it is this: if you will give me a task, I will take an adequate time and process what you want from me. Then, you can expect my frank response if I can do your request base on your specification or not.
                    </p>
                </div>

                <div class="col d-flex justify-content-center align-items-baseline" id="side">
                    <div class="card">
                        <img src="{% static 'head.svg' %}" class="card-img-top" alt="...">
                        
                        <div class="card-img-overlay">
                            <span>
                                <h2 class="card-title">Summary</h2>
                                <img src="{% static 'bern.jpg' %}" alt="" class="img-fluid" id="author_pic">
                            </span>
                        </div>

                        <div class="card-body">
                            <ul>
                                <li class="card-text">
                                    First Name: Crisbern
                                </li>

                                <li class="card-text">
                                    Middle Name: Tumang
                                </li>

                                <li class="card-text">
                                    Last Name: Gozun
                                </li>

                                <li class="card-text">
                                    Birthday: February 22, 2000
                                </li>

                                <li class="card-text">
                                    Hobbies: Reading books and coding
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}