{% extends 'base.html' %}
{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'Main/index.css' %}">
{% endblock css_file %}

{% block title %}Home{% endblock title %}

{% block navbar %}
      {% include 'includes/navbar.html' with page='home' %}
{% endblock navbar %}

{% block content %}
  <section>
    <div class="d-flex" id="banner">
      <div class="container">

        <div class="row row-cols-xxl-2 row-cols-xl-2 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
          {% comment %} Introduction Message {% endcomment %}
          <div class="col col-sm-auto">
            <p>
              Hello,
              <br><br>
              My name is <b>Crisbern T. Gozun</b>.
              <br><br>
              As of now, I am a graduating student of B.S. Computer Engineering at Don Honorio Ventura State University.
              <br><br>
              Graduation is relatively near but my dreams farther. Help me reach my dreams by helping yourself around here and availing my services.
            </p>
            {% comment %} Contact me and My Projects Button {% endcomment %}
            <span id="header-buttons-span">
              <button class="btn btn-outline-light">Contact Me</button>
              <button class="btn btn-outline-light">My Projects</button> 
            </span>

          </div>

          {% comment %} My Picture {% endcomment %}
          <div class="col col-auto d-flex justify-content-lg-center justify-content-sm-center justify-content-xs-center" id="author-pic-container">
            <img src="{% static 'bern.jpg' %}" alt="" id="author-pic" class="img-fluid img-thumbnail">
          </div>

        </div>
      </div>
    </div>

  </section>

  {% comment %} Blogs_section {% endcomment %}
  <section id="blog-section">
    {% include 'Main/includes/index_blog.html' %}
  </section>

  {% comment %} Contacts Section {% endcomment %}
  <section id="contact_me">

    <div class="container">
      <div class="row">

        <div class="col d-flex justify-content-center">
          <h1>Contact Me</h1>
        </div>

      </div>

      <div class="row">

        <div class="col d-flex justify-content-center">
          <span id="contact_me_icons">
            <a href="https://github.com/crisbern-g" target="_blank"><img src="{% static 'Main/github.svg' %}" alt=""></a>
            <a href="https://www.facebook.com/Crisbern022/" target="_blank"><img src="{% static 'Main/facebook-circular-logo.svg' %}" alt=""></a>
            <a href="https://www.instagram.com/bern_sqrd/" target="_blank"><img src="{% static 'Main/instagram.svg' %}" alt=""></a>
            <a href="mailto:crisberngozun022@gmail.com"><img src="{% static 'Main/gmail.svg' %}" alt=""></a>
          </span>
        </div>

      </div>
    </div>
  </section>
{% endblock %}