<div class="container">
    <div class="row">
        <div class="col">
            <h1>Latest Blogs</h1>

            {% for blog in latest_blogs %}
                <div class="row blog-entry fade-in">
                    <h3>{{ blog.blog_title }}</h3>
                    <p>{{ blog.blog_text|truncatechars:300 }}</p>
                    <span>
                        <a class="read-more" href="{% url 'blog_detail' blog.slug %}">Read More &#x25B6</a>
                    </span>
                </div>
            {% endfor %}

            <a id="more-blogs-button" class="btn btn-success fade-in" href="{% url 'all_blogs' %}">View More Blogs Here</a>
        </div>

    </div>
</div>